<<<<<<< 5e4e5fa4f8707cbe200975cc97c68cde4b9a90ba
<% provide(:title, t("contact")) %>
=======
<% provide :title, t("contact") %>
>>>>>>> FinishChapter 3: Mostly static pages
<h1><%= t "contact" %></h1>
<p>
  Contact the Ruby on Rails Tutorial about the sample app at the
  <a href="http://www.railstutorial.org/contact">contact page</a>.
</p>